@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inclusive Sans", sans-serif;
}
html {
    scroll-snap-type: y mandatory;
}


/* =========================  DEFINICION VARIABLES ========================= */

$color_blanco: #f0ffff;
$color_fondo : #1a1a1a;
$color_barra: #111111;

$color_introduccion: #d2a266;
$color_mini_introduccion: #7322ff;

$letra_titulo: 3rem;
$letra_subtitulo: 1.5rem;
$letra_barra: 25px;


/* =========================  ESTILOS ENCABEZADO ========================= */
.titulo {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_blanco;
    text-align: center;
    scroll-snap-align: start;

    .content_image {
        height: 100%;
        width: 100%;
        background: url(../sources/fondo_titulo.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-size: $letra_titulo;
    }
}


/* =========================  ESTILOS NAVBAR ========================= */
.navbar {
    background-color: $color_barra;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        color: $color_blanco;
        text-decoration: none;
        font-weight: bolder;
        font-size: $letra_barra;
    }

    a:hover {
        text-decoration: underline;
        color: #ff2640;
    }
}


/* =========================  ESTILOS CONTENEDOR GENERAL ========================= */
.container {
    height: 170vh;
    width: 100%;
    background-color: $color_fondo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: $color_blanco;

    .parte1 {
        height: 70vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        scroll-snap-align: start;
    }
    .parte2 { 
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: start;
    }
}

/* =========================  ESTILOS PARTE1 ========================= */
.content_parte1 {
    height: 100%;
    width: 100%;
    background: url(../sources/head.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .mini_introduccion {
        height: 300px;
        width: 60%;
        backdrop-filter: blur(20px);
        background-color: $color_mini_introduccion;
        border-radius: 50px;
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: $letra_subtitulo;
        font-weight: 600;
    }
}

/* =========================  ESTILOS PARTE2 ========================= */
.content_parte2 {
    border: 3px solid brown;
    height: 100%;
    width: 100%;
    background: url(../sources/cohete.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .introduccion {
        height: 300px;
        width: 60%;
        backdrop-filter: blur(20px);
        background-color: $color_introduccion;
        border-radius: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-size: $letra_subtitulo;
        font-weight: 600;
    }
}