@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

/* =========================  DEFINICION VARIABLES ========================= */
/* =========================  ESTILOS ENCABEZADO ========================= */
.titulo {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0ffff;
  text-align: center;
  scroll-snap-align: start;
}
.titulo .content_image {
  height: 100%;
  width: 100%;
  background: url(../sources/fondo_titulo.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo h1 {
  font-size: 3rem;
}

/* =========================  ESTILOS NAVBAR ========================= */
.navbar {
  background-color: #111111;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  color: #f0ffff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
}
.navbar a:hover {
  text-decoration: underline;
  color: #ff2640;
}

.introduccion {
  height: 50vh;
  width: 100%;
  background-color: #391BA6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mensaje {
  height: 50%;
  width: 60%;
  border-radius: 60px;
  border: 5px solid azure;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
.mensaje p {
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  color: white;
}

/* =========================  ESTILOS CONTENEDOR GENERAL ========================= */
.container {
  height: 170vh;
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #f0ffff;
}
.container .parte1 {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: start;
}
.container .parte2 {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/* =========================  ESTILOS PARTE1 ========================= */
.content_parte1 {
  height: 100%;
  width: 100%;
  background: url(../sources/head.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_parte1 .mini_introduccion {
  height: 300px;
  width: 60%;
  padding: 10px;
  font-size: 20px;
  backdrop-filter: blur(20px);
  background-color: #7322ff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content_parte1 h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

/* =========================  ESTILOS PARTE2 ========================= */
.content_parte2 {
  border: 3px solid brown;
  height: 100%;
  width: 100%;
  background: url(../sources/cohete.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_parte2 .introduccion {
  height: 300px;
  width: 60%;
  backdrop-filter: blur(20px);
  background-color: #d2a266;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content_parte2 h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

/*# sourceMappingURL=index.css.map */
