@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

/* =========================  DEFINICION GENERALES ========================= */
.titulo {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  background-color: #5f5c5c;
}
.titulo .contenido_titulo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo h1 {
  font-size: 3rem;
}

@media (max-width: 750px) {
  .titulo {
    height: auto;
    flex-direction: column-reverse;
    background-color: #77cbff;
  }
  .titulo h1 {
    margin-bottom: 10px;
  }
  .informacion_sesion {
    align-self: flex-end;
    margin: 8px;
    position: static !important;
  }
  .info_message span, .leave span {
    color: #1a1a1a !important;
    font-weight: bolder;
  }
  .leave i {
    color: #ed6666 !important;
  }
  .leave span:hover {
    color: #ed6666 !important;
  }
}
/* =========================  ESTILOS INFO USUARIO ========================= */
.informacion_sesion {
  position: absolute;
  top: 30px;
  right: 40px;
  height: 110px;
  min-width: 150px;
  max-width: 300px;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.informacion_sesion .usuario {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.informacion_sesion .logout {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.informacion_sesion i {
  font-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
}

.aguapanela {
  height: 50px;
  width: 50px;
}
.aguapanela .pan {
  width: 100%;
  height: 100%;
}

.info_message {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.info_message span {
  font-size: 26px;
  letter-spacing: -1px;
  color: #d1f2ff;
}

.leave {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 2s ease-in-out;
}
.leave span {
  font-size: 25px;
  color: #d1f2ff;
}
.leave i {
  margin-left: 10px;
  margin-right: 10px;
  color: #8eacfd;
}
.leave:hover i {
  color: #ff2640;
}
.leave:hover span {
  color: #ff2640;
  text-decoration: underline;
}

/* =========================  ESTILOS NAVBAR ========================= */
.navbar {
  background-color: #111111;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  color: #f0ffff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
}
.navbar a:hover {
  text-decoration: underline;
  color: #ff2640;
}

/* =========================  ESTILOS SECCION INFORMACION ========================= */
.seccion_info {
  height: 10vh;
  width: 100%;
  background-color: #dfff77;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.seccion_añadir {
  height: auto;
  width: 100%;
  background-color: #8a8383;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seccion_añadir .contenedor_btn {
  display: flex;
  align-self: flex-start;
  height: 100px;
  width: 300px;
}

.create_note {
  width: 260px;
  height: 60px;
  margin: auto;
  border-radius: 25px;
  background-color: #ff2640;
  color: #edfaff;
  font-weight: bolder;
  font-size: 1rem;
}

/* =========================  ESTILOS NOTAS ========================= */
.contenedor_notas {
  height: fit-content;
  min-height: 50vh;
  width: 100%;
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px;
  padding: 40px;
}

.nota {
  position: relative;
  min-height: calc((100vh - 160px) / 3);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 680px) {
  .contenedor_notas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 40px 0;
  }
  .nota {
    width: 90%;
    height: 240px;
  }
}
.contenido_nota .opt {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
.contenido_nota i {
  font-size: 30px;
  padding: 5px;
  color: #5f5c5c;
  z-index: 10;
}

/* =========================  ESTILOS MODAL ========================= */
.modal_añadir {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.modal_añadir .modal_contenido {
  height: 50%;
  width: 60%;
  background-color: #fbfeff;
  color: #1a1a1a;
  border-radius: 30px;
}

.saludo {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pan_de_bono {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pan_de_bono .desc {
  width: 80%;
  height: 150px;
  border: 3px solid black;
  border-radius: 15px;
  font-size: 1.2rem;
  text-align: center;
}
.pan_de_bono .desc::placeholder {
  text-align: center;
}
.pan_de_bono .btn_save_note {
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #ff2640;
  color: #ffffff;
  font-weight: bolder;
  font-size: 1rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ff2640;
  font-size: 35px;
  font-weight: bolder;
  cursor: pointer;
}

/*# sourceMappingURL=notas.css.map */
