@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

/* =========================  DEFINICION VARIABLES ========================= */
/* =========================  ESTILOS ENCABEZADO ========================= */
.titulo {
  scroll-snap-align: start;
  height: 25vh;
  width: 100%;
  background-color: #F2E1B1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo h1 {
  color: rgb(77, 169, 250);
  font-size: 3rem;
  font-weight: bolder;
}

/* =========================  ESTILOS NAVBAR ========================= */
.navbar {
  background-color: #1a1a1a;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  color: azure;
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
}
.navbar a:hover {
  text-decoration: underline;
  color: #ff2640;
}

.contenedor {
  height: 100vh;
  width: 100%;
  background-color: #150F40;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contenedor .buttons {
  padding: 20px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#abrirModal {
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  color: #ffffff;
  background-color: #5276ea;
  font-weight: bolder;
  font-size: 1rem;
  margin-right: 20px;
}

#tareas {
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  color: #ffffff;
  background-color: #b052ea;
  font-weight: bolder;
  font-size: 1rem;
}

.modal {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-content {
  width: 100%;
  height: 120px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.cerrarModal {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ff2640;
  font-size: 35px;
  font-weight: bolder;
  cursor: pointer;
}

#tareaInput {
  min-width: 150px;
  width: 30%;
  padding: 10px;
  height: 50px;
  border: 2px solid #110436;
}

#fechaInput {
  min-width: 150px;
  width: 30%;
  padding: 10px;
  height: 50px;
  border: 2px solid #110436;
}

#agregar {
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  color: #ffffff;
  background-color: #ea52d6;
  font-weight: bolder;
  font-size: 1rem;
  margin-left: 20px;
}

.separation {
  height: 40px;
  width: 100%;
}

.recordatorios {
  width: 100%;
  border-collapse: collapse;
}

.recordatorios th, .recordatorios td {
  border: 3px solid white;
  padding: 10px;
  text-align: center;
}

.recordatorios tbody tr {
  color: wheat;
}

/*# sourceMappingURL=recordatorios.css.map */
